button {
    width: 55px;
}
.btn-default, .btn-default:link, .btn-default:visited, .btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color:  $color_green;
}
.btn-get-clr {
	width: 114px;
}
.btn-get-histBtn {
    width: 230px;
    margin-top: 25px;
}